<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TaimsalSAdeSV</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TaimsalSAdeSV.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    @*-------------------------------------Links de carrusel------------------------------------*@
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glider-js@1.7.3/glider.min.css">
    <link rel="stylesheet" href="css/estilos.css">
    <link rel="stylesheet" href="css/estilocarrusel.css">
    @*    <link rel="stylesheet" href="css/style.css">
    *@
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    @*------------------------------------------------------------------------------------------*@

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-ligh border-bottom box-shadow mb-1">
            <div class="container-fluid">
                <nav class="navbar">
                    <div class="container">
                        <a class="navbar-brand" asp-action="Index">
                            <img src="~/Img/LogosTaimsal/LogoNavbar.png" alt="" width="100" height="100">
                        </a>
                    </div>
                </nav>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link text-dark fs-3 text-decoration-underline" asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark fs-3 text-decoration-underline" asp-area="" asp-controller="Home" asp-action="OursCompany">Nosotros</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark fs-3 text-decoration-underline" asp-area="" asp-controller="Home" asp-action="Machinery">Maquinaria</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark fs-3 text-decoration-underline" asp-area="" asp-controller="Home" asp-action="Shop">Cotizacion</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark fs-3 text-decoration-underline" asp-area="" asp-controller="Home" asp-action="Briefcase">Portafolio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark fs-3 text-decoration-underline" asp-area="" asp-controller="Home" asp-action="Contact">Contactanos</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-4">
            @RenderBody()
        </main>
    </div>

    <footer class="bg-dark text-white py-4">
        <div class="container">
            <nav class="row">
                <a href="#" class="col-3 text-reset text-uppercase d-flex align-items-center text-decoration-none text-secondary">
                    <img src="~/Img/LogosTaimsal/LogoFooter.png" alt="" class="m-2 w-25" />
                    TAIMSAL SA de CV
                </a>
                <ul class="col-3 list-unstyled">
                    <li class="text-uppercase">Horarios</li>
                    <li><a class="text-decoration-none text-secondary"><i class="bi bi-calendar3"></i> Lunes a Viernes</a></li>
                    <li><a class="text-decoration-none text-secondary"><i class="bi bi-clock"></i> 08:30am - 05:00pm</a></li>
                    <li><a class="text-decoration-none text-secondary"><i class="bi bi-calendar3"></i> Sábados</a></li>
                    <li><a class="text-decoration-none text-secondary"><i class="bi bi-clock"></i> 08:30am - 12:00am</a></li>
                </ul>
                <ul class="col-3 list-unstyled">
                    <li class="text-uppercase">¿Necesitas Mas Información?</li>
                    <li><a class="text-decoration-none text-secondary"><i class="bi bi-telephone-fill"></i>  +503 7745-7844</a></li>
                    <li><a class="text-decoration-none text-secondary"><i class="bi bi-envelope-at-fill"></i>  recursoshumanos@taimsal.sv</a></li>
                    <li><a class="text-decoration-none text-secondary"><i class="bi bi-envelope-at-fill"></i>  ventas@taimsal.sv</a></li>
                </ul>
                <ul class="col-3 list-unstyled">
                    <li class="text-uppercase">Social networks</li>
                    <li class="d-flex justify-content-between">
                        <a href="#" class="text-reset">
                            <i class="bi bi-facebook"></i>
                        </a>
                        <a href="#" class="text-reset">
                            <i class="bi bi-whatsapp"></i>
                        </a>
                        <a href="#" class="text-reset">
                            <i class="bi bi-instagram"></i>
                        </a>
                        <a href="#" class="text-reset">
                            <i class="bi bi-twitter"></i>
                        </a>
                        <a href="#" class="text-reset">
                            <i class="bi bi-linkedin"></i>
                        </a>
                    </li>
                </ul>
                <ul class="col-xs-12 text-center m-4 text-decoration-none text-secondary">
                    <a asp-area="" asp-controller="Home" asp-action="Privacy">Copyright</a>
                    - All rights reserved &copy; 2022
                </ul>
            </nav>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/glider-js@1.7.3/glider.min.js"></script>
    <script src="js/app.js"></script>
    <!-- Link TO JS -->
    <script src="/js/main.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
