@{
    ViewData["Title"] = "Briefcase";
}

<section class="py-3">
    <h1 class="my-2 text-center">
        PORTAFOLIO <i class="bi bi-columns-gap"></i>
    </h1>
    <div class="container-fluid">
        <div class="row p-0 m-0">
            <div class="col-md-4 pb-3 pl-2">
                <img src="~/Img/ImgProductos/Product7.jpeg" class="w-100 h-100 rounded-3" alt="" srcset="" />
            </div>
            <div class="col-md-5 pb-3 pl-2">
                <img src="~/Img/ImgProductos/Product9.jpeg" class="w-100 h-100 rounded-3" alt="" srcset="" />
            </div>
            <div class="col-md-3 pb-3 pl-2">
                <img src="~/Img/ImgProductos/Product4.jpeg" class="w-100 h-100 rounded-3" alt="" srcset="" />
            </div>
        </div>
        <div class="row p-0 m-0">
            <div class="col-md-4 pb-3 pl-2">
                <img src="~/Img/ImgProductos/Product20.jpeg" class="w-100 h-100 rounded-3" alt="" srcset="" />
            </div>
            <div class="col-md-8 pb-3 pl-2">
                <div class="row">
                    <div class="col-md-4 pb-3 pl-2">
                        <img src="~/Img/ImgProductos/Product26.jpeg" class="w-100 h-100 rounded-3" alt="" srcset="" />
                    </div>
                    <div class="col-md-8 pb-3 pl-2">
                        <img src="~/Img/ImgProductos/Product23.jpeg" class="w-100 h-100 rounded-3" alt="" srcset="" />
                    </div>
                    <div class="col-md-8 pb-3 pl-2">
                        <img src="~/Img/ImgProductos/Product17.jpeg" class="w-100 h-100 rounded-3" alt="" srcset="" />
                    </div>
                    <div class="col-md-4 pb-3 pl-2">
                        <img src="~/Img/ImgProductos/Product8.jpeg" class="w-100 h-100 rounded-3" alt="" srcset="" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row p-0 m-0">
            <div class="col-md-3 pb-3 pl-2">
                <img src="~/Img/ImgProductos/Product16.jpeg" class="w-100 h-100  rounded-3" alt="" srcset="" />
            </div>
            <div class="col-md-5 pb-3 pl-2">
                <img src="~/Img/ImgProductos/Product10.jpeg" class="w-100 h-100  rounded-3" alt="" srcset="" />
            </div>
            <div class="col-md-4 pb-3 pl-2">
                <img src="~/Img/ImgProductos/Product19.jpeg" class="w-100 h-100  rounded-3" alt="" srcset="" />
            </div>
        </div>
        <div class="row p-0 m-0">

            <div class="col-md-8 pb-3 pl-2">
                <div class="row">
                    <div class="col-md-8 pb-3 pl-2">
                        <img src="~/Img/ImgProductos/Product25.jpeg" class="w-100 h-100 rounded-3" alt="" srcset="" />
                    </div>
                    <div class="col-md-4 pb-3 pl-2">
                        <img src="~/Img/ImgProductos/Product27.jpeg" class="w-100 h-100 rounded-3" alt="" srcset="" />
                    </div>
                    <div class="col-md-4 pb-3 pl-2">
                        <img src="~/Img/ImgProductos/Product33.jpeg" class="w-100 h-100 rounded-3" alt="" srcset="" />
                    </div>
                    <div class="col-md-8 pb-3 pl-2">
                        <img src="~/Img/ImgProductos/Product29.jpeg" class="w-100 h-100 rounded-3" alt="" srcset="" />
                    </div>
                </div>
            </div>
            <div class="col-md-4 pb-3 pl-2">
                <img src="~/Img/ImgProductos/Product5.jpeg" class="w-100 h-100 rounded-3" alt="" srcset="" />
            </div>
        </div>
    </div>
</section>