@{
}
<link rel="stylesheet" href="../css/Taimsal-Acronym.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.7.1/dist/leaflet.css" />


<section>
    <div class="px-4 py-5 conten">
        <ul>
            <li style="--clr:#FF7C7C"><a href="#" data-text="Tolerancia ">T</a></li>
            <li style="--clr:#FFD082"><a href="#" data-text="Apoyo ">A</a></li>
            <li style="--clr:#88E1F2"><a href="#" data-text="Integridad">I</a></li>
            <li style="--clr:#46C2CB"><a href="#" data-text="Moral">M</a></li>
            <li style="--clr:#FA9579"><a href="#" data-text="Solidaridad ">S</a></li>
            <li style="--clr:#654062"><a href="#" data-text="Autodisciplina ">A</a></li>
            <li style="--clr:#65D6CE"><a href="#" data-text="Lealtad"> L</a> </li>
        </ul>
    </div>
</section>

<img src="../img/Margin-Gradiant/Margin-Bllue-Gray-Bottom.svg" alt="" srcset="" style="width: 100%;">

<section class="">
    <div class="py-5 text-center clearfix text-white" style="background-color:#00213b;">
        <h1 class="py-3 display-4 fw-bold">Nosotros</h1>
        <h2 class="fw-normal " style="padding-right:10%;padding-left:10%;">
            Somos una empresa líder en el área de metal mecánica Torno, fresadora con 20 años de experiencia en el ramo de la industria
        </h2>
    </div>
</section>

<img src="../img/Margin-Gradiant/Margin-Sky-Bllue-Top.svg" alt="" srcset="" style="width: 100%;">

<section>
    <div class="py-5" style="background-color:#29E5FF">
        <div class="col-12 text-center">
            <h1 class="py-4 display-4 fw-bold">Misión</h1>
            <h3 class="fw-normal" style="padding-right:10%;padding-left:10%; padding-top:3%;">
                Ser una empresa reconocida a nivel nacional por su trayectoria, años de experiencia, calidad,
                eficacia y eficiencia en el ámbito industrial.
            </h3>
        </div>
    </div>
</section>

<img src="../img/Margin-Gradiant/Margin-Sky-BllueLight-Bottom.svg" alt="" style="width: 100%;" srcset="">

<section>
    <div style="background-color:#153a83; padding: 7% 0;">
        <div class="text-center clearfix text-white" >
                <h1 class="display-4 fw-bold">Visión</h1>
                <h3 class="fw-normal" style="padding-right:10%;padding-left:10%; padding-top:3%;">
                    Cumplir con los estándares de calidad y servicio que exijan nuestros clientes en la industria.
                </h3>
        </div>
    </div>
</section>

<img src="../img/Margin-Gradiant/Margin-BllueLight-Gray-Bottom.svg" alt="" style="width: 100%;" srcset="">

<section>
    <div style="background-color:#33313B; padding: 0 0 7% 0;">
        <div class="text-center clearfix text-white" >
            <h2 class="fs-2 fw-bold">Objetivos</h2>
            <h3 class="fw-normal" style="padding-right:10%;padding-left:10%; padding-top:3%;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur error, enim
                odio
                aspernatur
                dignissimos fuga consectetur qui adipisci quidem numquam, corporis, aliquam ad. Optio aliquid
                praesentium, tenetur architecto a nam!
            </h3>
        </div>
    </div>
</section>

<img src="../img/Margin-Gradiant/Margin-Gray-Bottom.svg" style="width: 100%;" alt="" srcset="">

<section>
    <div style="background-color:#D8D8D8; ">
        <p class="fs-2 fw-bold text-center pt-5">Ubicación</p>
       <div id="map" style="width: 100%; height: 600px;"></div>
       
    </div>

</section>
<script src="https://cdn.jsdelivr.net/npm/leaflet@1.7.1/dist/leaflet.js"></script>
<script>
    // Crea el mapa con las coordenadas que deseas mostrar.
    var map = L.map('map').setView([13.721382, -89.364498], 13);
  
    // Agrega la capa de OpenStreetMap al mapa.
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19
    }).addTo(map);

    var myIcon = L.icon({
    iconUrl: '../img/R.png',
    iconSize: [40, 40], // Ancho y alto del icono
    iconAnchor: [15, 50], // Punto de anclaje del icono (la parte inferior del icono)
    popupAnchor: [0, -50] // Punto donde se abrirá el popup en relación al punto del marcador
    }); 

  
    // Agrega un marcador en la posición especificada.
    L.marker([13.721382, -89.364498], {icon: myIcon}).addTo(map);

</script>
