@model SysTaimsal.EL.UserDev

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>UserDev</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdRol" class="control-label"></label>
                <select asp-for="IdRol" class ="form-control" asp-items="ViewBag.IdRol"></select>
            </div>
            <div class="form-group">
                <label asp-for="NameUser" class="control-label"></label>
                <input asp-for="NameUser" class="form-control" />
                <span asp-validation-for="NameUser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastNameUser" class="control-label"></label>
                <input asp-for="LastNameUser" class="form-control" />
                <span asp-validation-for="LastNameUser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Login" class="control-label"></label>
                <input asp-for="Login" class="form-control" />
                <span asp-validation-for="Login" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status_User" class="control-label"></label>
                <input asp-for="Status_User" class="form-control" />
                <span asp-validation-for="Status_User" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegistrationUser" class="control-label"></label>
                <input asp-for="RegistrationUser" class="form-control" />
                <span asp-validation-for="RegistrationUser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
