@model SysTaimsal.EL.Machine

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Maquinaria</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdMachine" />
            <div class="form-group mb-3">
                <label asp-for="NameMachine" class="control-label">Nombre de Maquinaria</label>
                <input asp-for="NameMachine" class="form-control" />
                <span asp-validation-for="NameMachine" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="ImageMachine" class="control-label">Imagen de Maquinaria</label>
                <input asp-for="ImageMachine" class="form-control" />
                <span asp-validation-for="ImageMachine" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <button type="submit" value="Save" class="btn btn-success">Editar</button> |
                <a type="button" class="btn btn-primary" asp-action="Index">Volver a la Lista</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
